body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar-group-header {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.eyebrow {
  text-transform: uppercase;
}

li .group {
  margin-bottom: 0rem !important;
  padding-bottom: .25rem !important;
}

th {
  text-align: left;
}

tr {
  border-bottom: 1px solid var(--border-color, rgba(128, 128, 128, 0.15));
}

.field .font-semibold.text-primary[data-component-part="field-name"] {
  line-height: normal;
  font-weight: 700;
  font-size: 1.15rem;
}
