.sidebar-group-header {
  text-transform: uppercase;
}

.eyebrow {
  text-transform: uppercase;
}

li .group {
  margin-bottom: 0rem !important;
  padding-bottom: .25rem !important;
}

th {
  text-align: left;
}

.field .font-semibold.text-primary[data-component-part="field-name"] {
  line-height: normal;
  font-weight: 800;
  font-size: 1.3rem;
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *,.card)) {
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
  text-decoration-skip-ink: auto;
  text-decoration-color: rgb(var(--primary));
}

.prose :where(a code):not(:where([class~=not-prose],[class~=not-prose] *,.card)) {
  text-decoration: none;
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *,.card)) {
  text-decoration-color: currentColor;
}
