.sidebar-group-header {
  text-transform: uppercase;
}

.eyebrow {
  text-transform: uppercase;
}

li .group {
  margin-bottom: 0rem !important;
  padding-bottom: .25rem !important;
}

th {
  text-align: left;
}

.field .font-semibold.text-primary[data-component-part="field-name"] {
  line-height: normal;
  font-weight: 800;
  font-size: 1.3rem;
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
  text-decoration-skip-ink: auto;
  text-decoration-color: rgb(var(--primary));
}

.prose :where(a code):not(:where([class~=not-prose],[class~=not-prose] *)) {
  text-decoration: none;
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  text-decoration-color: currentColor;
}


.cli-tip {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 0; /* Prose adds an indecent margin-bottom */
}

.cli-tip-title {
  display: flex;
  align-items: center;
  gap: .8rem;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: .8rem;
  color: rgb(var(--dark));
}

.cli-tip-cta {
  color: rgb(var(--primary));
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}
.cli-tip-content {
  margin: 0;
}